@using Coffee_Shop.Models;

@{

    ViewBag.Title = "Add";

}



<h2>Shopping Cart</h2>

<ul>

    @foreach (Item i in (List<Item>)(Session["Cart"]))

    {

        <li>@i.Name by @i.Price</li>

    }

</ul>

@Html.ActionLink("Back to Menu", "Menu", "Home")