@{
    ViewBag.Title = "Home Page";
}


<head>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css">
</head>
<div class="jumbotron">
    <h1>Expresso</h1>
    <p>Sigining up gives you access needed to add, delete, and update the products.</p>
    <p><a class="btn btn-default" href="/Home/Registration">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>